/* =========RESET ==============*/
* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

/* ============COMMON STYLES============ */
section:not(:last-of-type) {
  margin-bottom: 120px;
}

body {
  padding: 40px 0;
}

h2 {
  text-align: center;
  margin-bottom: 80px;
}

.delius-unicase-regular {
  font-family: "Delius Unicase", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  letter-spacing: 5%;

  color: #000000;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;

  color: #e0e0e0;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;

  color: #ffffff;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

/* =================CITIES SECTION===================== */
.cities__grid-item,
.nature__grid-item,
.people__grid-item {
  /* min-height: 370px; */
  /* min-width: 370px; */
  border-radius: 20px;
  padding: 20px;

  background-image:
    linear-gradient(
      360deg,
      #241f24 0%,
      rgba(91, 91, 91, 0.45) 34.11%,
      rgba(187, 186, 192, 0.26) 62.5%
    ),
    var(--bg-image);

  background-size: cover;

  transition:
    all 0.5s ease,
    box-shadow 0.5s ease;
}

.cities__grid-container {
  height: 1170px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr); /* grid-template-rows / grid-template-columns values */
  gap: 30px;
}

.cities__grid-item:nth-child(2) {
  grid-column: 2 / 4;
  grid-row: 1 / 2;

  --bg-image: url(../images/cities/image-2.png);
}

.cities__grid-item:nth-child(3) {
  grid-column: 1 / 3;
  grid-row: 2 / 3;

  --bg-image: url(../images/cities/image-3.png);
}

.cities__grid-item:last-child {
  grid-column: 2 / 4;
  grid-row: 3 / 4;

  --bg-image: url(../images/cities/image-6.png);
}

.cities__grid-item:first-child {
  --bg-image: url(../images/cities/image-1.png);
}

.cities__grid-item:nth-child(4) {
  --bg-image: url(../images/cities/image-4.png);
}

.cities__grid-item:nth-child(5) {
  --bg-image: url(../images/cities/image-5.png);
}

.content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icons-container,
.span-container {
  display: flex;
  justify-content: space-between;
}

.icon-wrapper-1,
.icon-wrapper-2 {
  height: 40px;
  width: 40px;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e0e0e0;

  opacity: 0;
  visibility: hidden;

  transition: all 0.5s ease;
}

.icon-wrapper-1 > img,
.icon-wrapper-2 > img {
  width: 20px;
  height: 20px;
}

/* =================NATURE SECTION===================== */
.nature__grid-container {
  height: 1570px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 30px;
}

.nature__grid-item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  --bg-image: url(../images/nature/image-1.png);
}

.nature__grid-item:nth-child(2) {
  grid-column: 2 / 4;
  grid-row: 1 / 2;

  --bg-image: url(../images/nature/image-2.png);
}

.nature__grid-item:nth-child(3) {
  grid-column: 1 / 3;
  grid-row: span 2;
  /* grid-row: 2 / 4; */

  --bg-image: url(../images/nature/image-3.png);
}

.nature__grid-item:nth-child(4) {
  grid-column: 3 / 4;
  grid-row: span 2;
  /* grid-row: 2 / 4; */

  --bg-image: url(../images/nature/image-4.png);
}

.nature__grid-item:nth-child(5) {
  grid-column: 1 / 3;
  grid-row: 4 / 5;

  --bg-image: url(../images/nature/image-5.png);
}

.nature__grid-item:nth-child(6) {
  grid-column: 3 / 4;
  grid-row: 4 / 5;

  --bg-image: url(../images/nature/image-6.png);
}

/* =================PEOPLE SECTION===================== */
.people__grid-container {
  height: 1970px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 30px;
}

.people__grid-item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  --bg-image: url(../images/people/image-1.png);
}

.people__grid-item:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 3;

  --bg-image: url(../images/people/image-2.png);
}

.people__grid-item:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;

  --bg-image: url(../images/people/image-3.png);
}

.people__grid-item:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  --bg-image: url(../images/people/image-4.png);
}

.people__grid-item:nth-child(5) {
  grid-column: 3 / 4;
  grid-row: 2 / 4;

  --bg-image: url(../images/people/image-5.png);
}

.people__grid-item:nth-child(6) {
  grid-column: 1 / 2;
  grid-row: 3 / 5;

  --bg-image: url(../images/people/image-6.png);
}

.people__grid-item:nth-child(7) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  --bg-image: url(../images/people/image-7.png);
}

.people__grid-item:nth-child(8) {
  grid-column: 2 / 4;
  grid-row: 4 / 5;

  --bg-image: url(../images/people/image-8.png);
}

.people__grid-item:nth-child(9) {
  grid-column: 1 / 3;
  grid-row: 5 / 6;

  --bg-image: url(../images/people/image-9.png);
}

.people__grid-item:nth-child(10) {
  grid-column: 3 / 4;
  grid-row: 5 / 6;

  --bg-image: url(../images/people/image-10.png);
}

/* =================HOVER EFFECTS=============== */
.cities__grid-item:hover,
.nature__grid-item:hover,
.people__grid-item:hover {
  cursor: pointer;
  background:
    linear-gradient(
      0deg,
      #241f24 1.04%,
      rgba(91, 91, 91, 0.26) 6.99%,
      rgba(187, 186, 192, 0) 12.29%
    ),
    var(--bg-image);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  background-size: 110%;
}

.cities__grid-item:hover .icon-wrapper-1,
.cities__grid-item:hover .icon-wrapper-2,
.nature__grid-item:hover .icon-wrapper-1,
.nature__grid-item:hover .icon-wrapper-2,
.people__grid-item:hover .icon-wrapper-1,
.people__grid-item:hover .icon-wrapper-2 {
  opacity: 1;
  visibility: visible;
}

.icon-wrapper-1:hover,
.icon-wrapper-2:hover {
  background: rgba(224, 224, 224, 0.5);
}
